:root {
  --black: #1A1A19;
  --primary: #31511E;
  --secondary: #F6FCDF;
}

* {
  font-family: "Preahvihear", sans-serif;
}

body {
  background: var(--black);
  color: var(--secondary);
}

.hover-text-shadow:hover {
  text-shadow: var(--primary) 1px 0 10px;
}

.profile-shine {
  border-radius: 431px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--primary) -60%,
    var(--black) 100%
  );
}

.btn {
  padding: 10px 20px;
  border: 1px solid var(--secondary);
  border-radius: 8px;
  font-size: 12px;
  line-height: 15px;
  width: fit-content;
  font-weight: 500;
  background-color: rgba(0, 81, 112, 0.27);
}

.glass {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

