@import "~/assets/css/main.scss";

#universe {
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

#solar-system {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform-style: preserve-3d;
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.orbit .orbit {
  animation-name: suborbit;
}

.pos {
  position: absolute;
  top: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  margin-left: -1em;
  transform-style: preserve-3d;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#skill,
.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border-radius: 50%;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
}

#skill {
  background-color: $secondary;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 0 60px $primary;
}

.planet {
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 5em;
}

/* --------------------------------------------------------------------------- animations */
@keyframes spin {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes suborbit {
  0% {
    transform: rotateX(90deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(90deg) rotateZ(-360deg);
  }
}

@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}

/* --------------------------------------------------------------------------- opening */
.view-3D .opening #skill,
.view-3D .opening .orbit,
.view-3D .opening .pos,
.view-3D .opening .planet,
.view-3D .opening .satelite,
.view-3D .opening .ring {
  transition-duration: 4s;
}

#universe.opening #skill {
  box-shadow: 0 0 0 rgba(255, 160, 60, 0);
}

/* --------------------------------------------------------------------------- 3D view */
.view-3D.zoom-large #skill {
  transform-style: preserve-3d;
}

.view-3D.zoom-large .orbit {
  transform-style: preserve-3d;
}

.view-3D #solar-system {
  transform: rotateX(75deg);
}

.view-3D #skill {
  transform: rotateX(-90deg);
}

.view-3D .ring {
  transform: rotateX(90deg);
}

.view-3D .planet,
.view-3D .moon {
  transform: rotateX(0deg);
}

/* --------------------------------------------------------------------------- large zoom */
.zoom-large #solar-system {
  width: 100%;
}

.zoom-large.view-2D .scale-stretched #solar-system {
  font-size: 26%;
}

.zoom-large.view-3D .scale-stretched #solar-system {
  font-size: 62%;
}

.zoom-large.view-2D .scale-d #solar-system {
  font-size: 22%;
}

.zoom-large.view-3D .scale-d #solar-system {
  font-size: 48%;
}

.zoom-large.view-2D .scale-s #solar-system {
  font-size: 7%;
}

.zoom-large.view-3D .scale-s #solar-system {
  font-size: 14%;
}

/* --------------------------------------------------------------------------- close zoom */
.zoom-close #solar-system {
  width: 200%;
  font-size: 100%;
}

.zoom-close .scale-stretched #solar-system {
  margin-left: -100%;
}

.zoom-close .scale-d #solar-system {
  margin-left: -106%;
}

.zoom-close.view-2D .scale-d #solar-system {
  font-size: 84%;
}

.zoom-close.view-3D .scale-d #solar-system {
  font-size: 84%;
}

.zoom-close .scale-s #solar-system {
  margin-left: -145%;
}

.zoom-close.view-2D .scale-s #solar-system {
  font-size: 40%;
}

.zoom-close.view-3D .scale-s #solar-system {
  font-size: 40%;
}

.zoom-close .orbit,
.zoom-close .pos,
.zoom-close .planet,
.zoom-close .satelite,
.zoom-close .ring {
  animation-play-state: paused !important;
  animation-duration: 0s !important;
  animation: none !important;
}

.zoom-close.view-2D .planet,
.zoom-close.view-2D .moon {
  transform: rotateX(0deg);
}

.zoom-close.view-3D .planet {
  transform: rotateX(-90deg);
}

.zoom-close.view-3D .moon {
  transform: rotateX(90deg);
}

.zoom-close .pos {
  left: 100% !important;
  top: 50% !important;
}

.scale-stretched #skill {
  font-size: 10em;
}

/* --------------------------------------------------------------------------- orbits */
.orbit1 {
  width: 32em;
  height: 32em;
  margin-top: -16em;
  margin-left: -16em;
}

.orbit2 {
  width: 40em;
  height: 40em;
  margin-top: -20em;
  margin-left: -20em;
}

.orbit3 {
  width: 56em;
  height: 56em;
  margin-top: -28em;
  margin-left: -28em;
}

.orbit4 {
  width: 72em;
  height: 72em;
  margin-top: -36em;
  margin-left: -36em;
}

/* --------------------------------------------------------------------------- text infos data */
/* --------------------------------------------------------------------------- speed */
.set-speed dl.infos dd span:after {
  content: "Orbit Velocity";
}

.set-speed #skill dl.infos dd:after {
  content: "0 km/h";
}

.set-speed #vue dl.infos dd:after {
  content: "170,503 km/h";
}

.set-speed #js dl.infos dd:after {
  content: "126,074 km/h";
}

.set-speed #flutter dl.infos dd:after {
  content: "107,218 km/h";
}

.set-speed #react dl.infos dd:after {
  content: "86,677 km/h";
}

.set-speed #php dl.infos dd:after {
  content: "47,002 km/h";
}

.set-speed #ts dl.infos dd:after {
  content: "34,701 km/h";
}

.set-speed #tailwindcss dl.infos dd:after {
  content: "24,477 km/h";
}

.set-speed #neptune dl.infos dd:after {
  content: "19,566 km/h";
}

/* --------------------------------------------------------------------------- size */
.set-size dl.infos dd span:after {
  content: "Equatorial Circumference";
}

.set-size #skill dl.infos dd:after {
  content: "4,370,005 km";
}

.set-size #vue dl.infos dd:after {
  content: "15,329 km";
}

.set-size #js dl.infos dd:after {
  content: "38,024 km";
}

.set-size #flutter dl.infos dd:after {
  content: "40,030 km";
}

.set-size #react dl.infos dd:after {
  content: "21,296 km";
}

.set-size #php dl.infos dd:after {
  content: "439,263 km";
}

.set-size #ts dl.infos dd:after {
  content: "365,882 km";
}

.set-size #tailwindcss dl.infos dd:after {
  content: "159,354 km";
}

.set-size #neptune dl.infos dd:after {
  content: "154,704 km";
}

/* --------------------------------------------------------------------------- distance */

.set-distance #skill dl.infos dd span:after {
  content: "From Earth";
}

.set-distance #skill dl.infos dd:after {
  content: "149,598,262 km";
}

.set-distance #vue dl.infos dd:after {
  content: "57,909,227 km";
}

.set-distance #js dl.infos dd:after {
  content: "108,209,475 km";
}

.set-distance #flutter dl.infos dd:after {
  content: "149,598,262 km";
}

.set-distance #react dl.infos dd:after {
  content: "227,943,824 km";
}

.set-distance #php dl.infos dd:after {
  content: "778,340,821 km";
}

.set-distance #ts dl.infos dd:after {
  content: "1,426,666,422 km";
}

.set-distance #tailwindcss dl.infos dd:after {
  content: "2,870,658,186 km";
}

.set-distance #neptune dl.infos dd:after {
  content: "4,498,396,441 km";
}

.pos1 {
  left: 100%;
  top: 50%;
}

.pos2 {
  left: 50%;
  top: 100%;
}
.pos3 {
  left: 0;
  top: 50%;
}
.pos4 {
  left: 50%;
  top: -1%;
}

.shadow1 {
  animation-name: shadow-1;
}
.shadow2 {
  animation-name: shadow-2;
}
.shadow3 {
  animation-name: shadow-3;
}
.shadow4 {
  animation-name: shadow-4;
}

@keyframes shadow-1 {
  0% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  25% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  50% {
    box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50.01% {
    box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  75% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  100% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
}

@keyframes shadow-2 {
  0% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  25% {
    box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  25.5% {
    box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  75% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  100% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

@keyframes shadow-3 {
  0% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  25% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  50% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  75% {
    box-shadow: inset 24px -20px 15px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  75.01% {
    box-shadow: inset -24px -20px 15px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  100% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
}

@keyframes shadow-4 {
  0% {
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  25% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  50% {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  75% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  99.99% {
    box-shadow: inset 18px -10px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  100% {
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
}
/* --------------------------------------------------------------------------- DEBUG 
.pos, 
.planet, 
.orbit,
.ring { animation-duration: 20s!important; }

/* */
/* --------------------------------------------------------------------------- navigation styles */
dl.infos {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin-top: -90%;
  margin-left: 90%;
  padding-left: 100%;
  transform-origin: 100% 100%;
  transform-style: preserve-3d;
  transform: rotateX(90deg);
}

dl.infos:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 30px;
  left: 15px;
  bottom: 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: skew(-45deg, 0deg);
  box-shadow: inset 1px 1px black;
}

dl.infos dt {
  position: absolute;
  left: 50px;
  margin-bottom: 26px;
  bottom: 30px;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
}

dl.infos dd:after {
  position: absolute;
  left: 50px;
  bottom: 30px;
  width: 300px;
  color: #fff;
  font-size: 22px;
  text-shadow: 1px 1px 2px black;
}

dl.infos dd span:after {
  position: absolute;
  left: 50px;
  bottom: 14px;
  width: 300px;
  color: #fff;
  font-size: 11px;
  text-shadow: 1px 1px 2px black;
}

.infos {
  display: block;
  opacity: 1;
  transform: rotateX(0deg);
}

.orbit {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.hide-UI h1,
.hide-UI #data,
.hide-UI dl.infos,
.hide-UI #data {
  margin-bottom: -30px;
}

.hide-UI .orbit {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

h1 {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

#data a,
#data a:hover,
#data a.active {
  color: $primary;
}

#toggle-data {
  left: 0;
}

.data-close #data {
  left: -100%;
}

.data-open #data {
  left: 0px;
}

#data a {
  margin-bottom: 1px;
  padding: 6px 10px;
  font-size: 18px;
}

/* --------------------------------------------------------------------------- transitions */
.pos {
  transition-property: top, left;
}

#solar-system,
.orbit,
.planet,
.satelite,
.ring {
  transition-property: width, height, top, left, margin-left, margin-top,
    webkit-transform;
}

#skill,
.icon {
  transition-property: width, height, webkit-transform;
}

#solar-system,
#skill,
.orbit,
.pos,
.planet,
.satelite,
.ring,
.infos,
.icon {
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

#solar-system,
#skill,
.planet,
.satelite,
.ring {
  transition-delay: 0s;
}

.pos {
  transition-delay: 1s;
}

.opening #solar-system,
.opening #skill,
.opening .orbit,
.opening .pos,
.opening .planet,
.opening .satelite,
.opening .ring,
.opening .infos,
.opening h1,
.opening #data,
.opening dl.infos,
.opening #controls {
  transition-duration: 0s;
  transition-delay: 0s;
}

.opening .pos {
  transition-delay: 0s;
}

h1,
#data,
#controls {
  transition-property: opacity, margin;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

h1 {
  transition-delay: 0.35s;
}

#data {
  transition-delay: 0.7s;
}

#controls {
  transition-delay: 1s;
}

/* --------------------------------------------------------------------------- responsive styles */
@media screen and (max-width: 299px) {
  #universe {
    font-size: 20%;
  }
}
@media screen and (min-width: 300px) {
  #universe {
    font-size: 24%;
  }
}
@media screen and (min-width: 500px) {
  #universe {
    font-size: 36%;
  }
}
@media screen and (min-width: 600px) {
  #universe {
    font-size: 44%;
  }
}
@media screen and (min-width: 760px) {
  #universe {
    font-size: 58%;
  }
}
@media screen and (min-width: 1000px) {
  #universe {
    font-size: 73%;
  }

  #navbar,
  #controls,
  #data {
    background: transparent;
  }

  h1 {
    font-size: 22px;
    margin-top: 8px;
  }

  #controls {
    padding-right: 32px;
    top: 12px;
  }

  #data {
    top: inherit;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  #data a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 15px 15px;
  }

  .data-open #data,
  .data-close #data {
    left: 0px;
  }

  .controls-open #controls,
  .controls-close #controls {
    right: 0px;
  }
}
@media screen and (min-width: 1300px) {
  #universe {
    font-size: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .zoom-close .scale-d #solar-system {
    margin-left: -120%;
  }
}
